In [ ]:
a = 10
print(a)

10

In [4]:
a = 10              # int
b = 10.5            # float
c = "Hello World"   # str
d = True            # bool
e = 2 + 4j          # complex

print(a , b , c , d , e)

10 10.5 Hello World True (2+4j)

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

print(type(a) , type(b) , type(c) , type(d) , type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'complex'>

In [ ]:
# operators

# + - * / ** // %

In [ ]:
a = 10
b = 3

c = a + b
print(c)

c = a - b
print(c)

c = a * b
print(c)

c = a / b
print(c)

c = a ** b      # power
print(c)

c = a // b      # float division
print(c)

c = a % b
print(c)

13
7
30
3.3333333333333335
1000
3
1

In [ ]:
a = "Hello "
b = "World"

c = a + b           # Concat
print(c)

Hello World

In [ ]:
a = "Hello World "
print(a*2)          # Enlargement

Hello World Hello World

In [ ]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(a)
print(b)
print(c)

print(type(a) , type(b) , type(c))

Hello World
Hello World
Hello World
<class 'str'> <class 'str'> <class 'str'>

In [2]:
a = True
b = False
c = a + b
print(c)

1

In [3]:
a = True
b = False
c = a * b
print(c)

0

In [4]:
# User Defined
a = input()

20

In [8]:
a = input("Enter the value of a ")
print(a)

Enter the value of a

In [9]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a + b

print(c)

Enter a = 10
Enter b = 5
105

In [10]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a + b

print(c)

Enter a = 10
Enter b = 20
30

In [11]:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = a + b

print(c)

Enter a = 2.33
Enter b = 4.33
6.66

In [12]:
p = float(input("Enter principal (p) = "))
t = float(input("Enter time (t) = "))
r = float(input("Enter rate (r) = "))
i = p*t*r/100

print("The value of i = ",i)

Enter principal (p) = 20000
Enter time (t) = 4
Enter rate (r) = 10
The value of i =  8000.0

In [ ]:
phy = int(input("Enter the marks of Physics = "))
che = int(input("Enter the marks of Chemistry = "))
bio = int(input("Enter the marks of Biology = "))
maths = int(input("Enter the marks of Mathematics = "))
eng = int(input("Enter the marks of English = "))

total = phy + che + bio + maths + eng
perc = total/5

print("The total obtained marks is ", total)
print("The obtained percentage is ", perc ,"%")

In [2]:
# into to str conversion str() int() float() bool()
a = 10 
b = str(a)
b

'10'

In [3]:
a = '10'
b = int(a)
b

10

In [5]:
a = '10'
b = float(a)
b

10.0

In [7]:
a = 1 
b = bool(a)
b

True

In [8]:
a = -10 
b = bool(a)
b

True

In [9]:
a = '0'
b = bool(a)
b

True

In [12]:
a = '' 
b = bool(a)
b

False

In [3]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = "Hello World! I am " + name + " and I am from " + add + ". I am " + str(age) + " years old."
print(info)

Enter name = Zenith
Enter age = 22
Enter address = Kathmandu
Hello World! I am Zenith and I am from Kathmandu. I am 22 years old.