In [3]:
import mysql.connector

database = mysql.connector.connect(
            host = 'localhost',
            user = 'root',
            password = '',
            database = 'student'
            )

db = database.cursor()

In [3]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Zenith', 45, 45, 65, 45, 23, 45, 45.0, 'F')

In [7]:
db.execute("SELECT sn,name,total,percentage,grade FROM student ")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Zenith', 45, 45.0, 'F')

In [8]:
db.execute("SELECT * FROM student WHERE grade = 'f'")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Zenith', 45, 45, 65, 45, 23, 45, 45.0, 'F')

In [10]:
db.execute("SELECT * FROM student WHERE percentage < 60")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Zenith', 45, 45, 65, 45, 23, 45, 45.0, 'F')

In [11]:
db.execute("SELECT * FROM student WHERE name = 'Zenith'")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Zenith', 45, 45, 65, 45, 23, 45, 45.0, 'F')

In [13]:
# Insert
sql = '''INSERT INTO student (name,physics,chemistry,maths,english,nepali,total,percentage,grade)
         VALUES ('Maharjan', 90 , 90 ,90 , 90 , 90 ,400 , 75 ,'A')'''
db.execute(sql)
database.commit()

In [16]:
name = input("Enter your name: ")
phy = int(input("Enter the marks of Physics: "))
che = int(input("Enter the marks of Chemistry: "))
maths = int(input("Enter the marks of Mathematics: "))
eng = int(input("Enter the marks of English: "))
nep = int(input("Enter the marks of Nepali: "))

total = maths + phy + che + nep + eng 
per = total/5

if per >= 80:
    grade = 'A'
elif per > 60:
    grade = 'B'
elif per >= 45:
    grade = 'C'
else:
    grade = 'F'
    
print("The total marks = ", total)
print("The Percentage = ", per ,"%")
print("The grade = ", grade)

sql = f'''INSERT INTO student (name,physics,chemistry,maths,english,nepali,total,percentage,grade)
         VALUES ('{name}', {phy} , {che} , {maths} , {eng} , {nep} , {total} , {per} , '{grade}')'''
db.execute(sql)
database.commit()

Enter your name: SanFran
Enter the marks of Physics: 45
Enter the marks of Chemistry: 68
Enter the marks of Mathematics: 98
Enter the marks of English: 78
Enter the marks of Nepali: 45
The total marks =  334
The Percentage =  66.8 %
The grade =  B

In [17]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter your name: ")
    phy = int(input("Enter the marks of Physics: "))
    che = int(input("Enter the marks of Chemistry: "))
    maths = int(input("Enter the marks of Mathematics: "))
    eng = int(input("Enter the marks of English: "))
    nep = int(input("Enter the marks of Nepali: "))

    total = maths + phy + che + nep + eng 
    per = total/5

    if per >= 80:
        grade = 'A'
    elif per > 60:
        grade = 'B'
    elif per >= 45:
        grade = 'C'
    else:
        grade = 'F'

    sql = f'''INSERT INTO student (name,physics,chemistry,maths,english,nepali,total,percentage,grade)
             VALUES ('{name}', {phy} , {che} , {maths} , {eng} , {nep} , {total} , {per} , '{grade}')'''
    db.execute(sql)
    
database.commit()

Enter n = 4
Enter your name: Hamburger
Enter the marks of Physics: 45
Enter the marks of Chemistry: 78
Enter the marks of Mathematics: 87
Enter the marks of English: 45
Enter the marks of Nepali: 65
Enter your name: Tulip
Enter the marks of Physics: 78
Enter the marks of Chemistry: 78
Enter the marks of Mathematics: 78
Enter the marks of English: 78
Enter the marks of Nepali: 78
Enter your name: Tornado
Enter the marks of Physics: 32
Enter the marks of Chemistry: 12
Enter the marks of Mathematics: 45
Enter the marks of English: 78
Enter the marks of Nepali: 11
Enter your name: Broadway
Enter the marks of Physics: 99
Enter the marks of Chemistry: 99
Enter the marks of Mathematics: 9
Enter the marks of English: 99
Enter the marks of Nepali: 99

In [5]:
# Update
sql = "UPDATE student SET name = 'Home' WHERE SN = 4"
db.execute(sql)
database.commit()

In [6]:
# Delete
sql = "DELETE FROM student WHERE sn = 5"
db.execute(sql)
database.commit()