In [1]:
a = [1,2,3,4,5,6,7,8]

In [2]:
a = [i for i in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
a = [int(input("Enter value = ")) for i in range (2)]
a

Enter value = 10
Enter value = 20

[10, 20]

In [5]:
a = [1,2,3,4,5,6,7,8]
b = [i**2 for i in a]
b

[1, 4, 9, 16, 25, 36, 49, 64]

In [6]:
a = ["Apple" , "Ball" , "Cat" , "Dog"]
b = [i.lower() for i in a]
b

['apple', 'ball', 'cat', 'dog']

In [1]:
d = {input("Enter Name: ") : input("Enter phone no: ") for i in range(2)}
d

Enter Name: Zenith
Enter phone no: 9803060561
Enter Name: Maharjan
Enter phone no: 6789998212

{'Zenith': '9803060561', 'Maharjan': '6789998212'}

In [3]:
a = [1,2,3,4,5,6,7,8]
b = {i:i**2 for i in a}
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}