In [1]:
# Loop
# for Loop
# while Loop

In [2]:
# range(5)                   #0,1,2,3,4
# range(1,5)                 #1,2,3,4
# range(1,10,2)              #1,3,5,7,9

In [4]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [6]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [8]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [10]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [12]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n , " * " , i , " = " , n*i )

Enter n = 7
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [15]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    
print(s)

Enter n = 3
Enter x = 23
Enter x = 23
Enter x = 12
58

In [21]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s + x + " "
    
print(s)

Enter n = 2
Enter x = Zenith
Enter x = Maharjan
Zenith Maharjan

In [23]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + '\n'

print(s)

Enter n = 2
Enter name = Zenith
Enter phone = 9803060561
Enter name = Maharjan
Enter phone = 9864241767
Zenith 9803060561
Maharjan 9864241767

In [25]:
p = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    p = p * i
print(p)

Enter n = 4
24

In [2]:
# WAP to create a billing system
# name ?
# price ?
# qty ?
# total ?
# grand_total ?

In [3]:
n = int(input("Enter the no of item ordered = "))
gt = 0
bill = ''

for i in range(n):
    name = input("Enter item name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter quantity = "))
    total = 0
    total = price * qty
    bill = bill + name + '  \t' + str(price) + '\t' + str(qty) + '\t\t' + str(total) + '\n'
    gt = gt + total

print("\nName \t Price \t Quantity \t Total")
print(bill, "\t\t\t\t" , gt)

Enter the no of item ordered = 2
Enter item name = Momo
Enter price = 100
Enter quantity = 2
Enter item name = Coke
Enter price = 45
Enter quantity = 1

Name 	 Price 	 Quantity 	 Total
Momo  	100	2		200
Coke  	45	1		45
 				 245

In [5]:
# for Loop in str
a = 'apple'
for i in a:
    print(i)

a
p
p
l
e

In [6]:
a = 'Hello World. I am Python'
for i in a:
    print(i, end = ' ')

H e l l o   W o r l d .   I   a m   P y t h o n

In [9]:
a = 'Hello World. I am Python'
for i in a:
    if i != '.':
        print(i, end = '')

Hello World I am Python

In [10]:
# Control Statements
# Continue
# Break

In [11]:
# Break Statement
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [13]:
a = 'Hello World. I am Python'
for i in a:
    if i == '.':
        continue
    print(i, end = '')

Hello World I am Python

In [22]:
# WAP to detect if the given no is prime or composite
prime = 2,3,5,7,11,13
composite = 4,6,8,9,10

n = int(input("Enter n = "))
number = 'prime'

for i in range(2,n):
    if  n % i == 0:
        number = 'composite'
        break

print("The number " , n , " is " , number)

Enter n = 5
The number  5  is  prime

In [26]:
# WAP to detect if the given no is prime or composite
# For Else Loop
prime = 2,3,5,7,11,13
composite = 4,6,8,9,10

n = int(input("Enter n = "))

for i in range(2,n):
    if  n % i == 0:
        print("The no is Composite ")
        break
else:
    print("The no is prime")

Enter n = 5
The no is prime

In [1]:
# while <condition>:
#     <operations>

In [2]:
a = 0
while a < 5:
    print(a , "Hello World!")
    a = a + 1

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!

In [3]:
i = 1
n = int(input("Enter n ="))

while i<=10:
    print(n , " * " , i , " = " , n*i)
    i = i + 1

Enter n =5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [4]:
s = ''
n = int(input("Enter n = "))
i=0

while i<n:
    x = input("Enter x = ")
    s = s + x + " "
    i = i +1
    
print(s)

Enter n = 5
Enter x = 2
Enter x = 1
Enter x = 3
Enter x = 4
Enter x = 5
2 1 3 4 5

In [5]:
p = 1
n = int(input("Enter n = "))
i = 1
while i<=n:
    p = p * i
    i = i + 1
print(p)

Enter n = 5
120

In [6]:
n = int(input("Enter the no of item ordered = "))
gt = 0
bill = ''
i = 0

while i<n:
    name = input("Enter item name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter quantity = "))
    total = 0
    total = price * qty
    bill = bill + name + '  \t' + str(price) + '\t' + str(qty) + '\t\t' + str(total) + '\n'
    gt = gt + total
    i = i + 1
    
print("\nName \t Price \t Quantity \t Total")
print(bill, "\t\t\t\t" , gt)

Enter the no of item ordered = 2
Enter item name = Momo
Enter price = 100
Enter quantity = 2
Enter item name = Coke
Enter price = 45
Enter quantity = 1

Name 	 Price 	 Quantity 	 Total
Momo  	100	2		200
Coke  	45	1		45
 				 245

In [7]:
# control statements for while Loop
# continue
# break

In [8]:
# break
i = 0
while i<10:
    if i == 5:
        break
    print(i, end = " ")
    i = i + 1

0 1 2 3 4

In [1]:
# continue
i = 0
while i<10:
    if i == 5:
        i = i + 1
        continue
    print(i, end = " ")
    i = i + 1

0 1 2 3 4 6 7 8 9

In [5]:
# WAP to detect if the given no is prime or composite
# For Else Loop
prime = 2,3,5,7,11,13
composite = 4,6,8,9,10

n = int(input("Enter n = "))
i = 2

while i < n:
    if  n % i == 0:
        print("The no is Composite ")
        break
    i = i + 1
else:
    print("The no is prime")

Enter n = 5
The no is prime

In [6]:
# nested for Loop
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

In [7]:
c = 5
for i in range(5):
    print(c * " " , (2*i-1) * "0")
    c= c-1

     0
    000
   00000
  0000000

In [8]:
for i in range(5):
    print(i * "*")

*
**
***
****