In [1]:
a = 'Hello World'
b = "Hello World"
c = ''''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = 'Hello '
b = 'World'
c = a + b
print(c)

Hello World

In [3]:
a = "Hello World \n"
print(2*a)

Hello World
Hello World

In [4]:
a = input("Enter a = ")
print(a)

Enter a = Hamburger
Hamburger

In [6]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [7]:
a = "Hello World"
a[-2]

'l'

In [11]:
a = "Hello World"
print(a[-1:-12:-1])
print(a[::-1])

dlroW olleH
dlroW olleH

In [41]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i] , end="")

Hello World

In [43]:
a = "Hello World"
l = len(a)
i = 0
while i<l:
    print(a[i], end = "")
    i = i + 1

Hello World

In [17]:
# String Concatination
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello World! I am " + name + ". I am from " + add + " and I am " + str(age) + " years old."
print(info)

Hello World! I am Ram. I am from Kathmandu and I am 34 years old.

In [18]:
# String Formatting
name = input("Enter name = ")
age = input("Enter age = ")
add = input("Enter address = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Enter name = Zenith
Enter age = 21
Enter address = Kathmandu
Hello World I am Zenith. I am from Kathmandu. I am 21

In [22]:
n = int(input("Enter the no of item ordered = "))
gt = 0
bill = ''
i = 0

while i<n:
    name = input("Enter item name = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter quantity = "))
    total = 0
    total = price * qty
    bill = bill + f"{name} \t {price} \t {qty} \t\t {total} \n"
    gt = gt + total
    i = i + 1
    
print("\nName \t Price \t Quantity \t Total")
print(bill, "\t\t\t\t" , gt)

Enter the no of item ordered = 2
Enter item name = Momo
Enter price = 100
Enter quantity = 2
Enter item name = Coke
Enter price = 45
Enter quantity = 1

Name 	 Price 	 Quantity 	 Total
Momo 	 100 	 2 		 200
Coke 	 45 	 1 		 45
 				 245

In [28]:
# Search
a = "Ram Shyam Hari Sita Nabin Ram Akash"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("There is no",name)

Enter name = Sabin
There is no Sabin

In [29]:
a = "Ram Shyam Hari Sita Nabin Ram Akash"
print(a.upper())

RAM SHYAM HARI SITA NABIN RAM AKASH

In [30]:
# Search
a = "Ram Shyam Hari Sita Nabin Ram Akash".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("There is no",name)

Enter name = ram
Yes
2

In [38]:
# Replace
a = "Ram Shyam Hari Sita Nabin Ram Akash Ramesh"
print(a.replace("Ram","ram"))
print(a.replace("Ram","ram"))
print(a.replace("Ram ",""))

ram Shyam Hari Sita Nabin ram Akash ramesh
ram Shyam Hari Sita Nabin ram Akash ramesh
Shyam Hari Sita Nabin Akash Ramesh

In [39]:
# title() 
a = " ram shyam hari sita nabin ram akash"
a.title()

' Ram Shyam Hari Sita Nabin Ram Akash'

In [40]:
# split()
a = " ram shyam hari sita nabin ram akash"
a.split()

['ram', 'shyam', 'hari', 'sita', 'nabin', 'ram', 'akash']