In [1]:
# Python Collection
# - List
# - Tuple
# - Dictionary
# - Set

In [2]:
# list
# - Indexing
# - Duplicate and Multiple values
# - Ordered
# - Mutable

In [3]:
l = list()
l = []

In [4]:
a = [1,2,3,4,5,6,7,8,9]
b = ["Apple" , "Ball" , "Cat" , "Dog" , "Elephant"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
a = ["Apple" , "Ball" , "Cat" , "Dog" , "Elephant"]
print(a[0])
print(a[0:4])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Elephant']

In [7]:
a = ["Apple" , "Ball" , "Cat" , "Dog" , "Elephant" , "Fish" , "Apple" , "Ball"]
a

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Apple', 'Ball']

In [11]:
# +
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
# *
a = [1,2,3,4]
b = 2
c = a*b
print(c)

[1, 2, 3, 4, 1, 2, 3, 4]

In [13]:
a = ["Apple" , "Cat" , "Fish"]
b = [1,2,3,4,5]
c= a+b
c

['Apple', 'Cat', 'Fish', 1, 2, 3, 4, 5]

In [18]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
    
print(l)
print("The sum = " , sum(l))
print("The max = " , max(l))
print("The min = ", min(l))
print("The average = " , sum(l)/n)

l.sort()
print(l)
l.reverse()
print(l)

Enter n = 5
Enter x = 45
Enter x = 12
Enter x = 31
Enter x = 201
Enter x = 222
[45, 12, 31, 201, 222]
The sum =  511
The max =  222
The min =  12
The average =  102.2
[12, 31, 45, 201, 222]
[222, 201, 45, 31, 12]

In [20]:
a = ["Apple" , "cat" , "Fish" , "Apple" , "cat" , "Fish"]
a.sort()
print(a)

['Apple', 'Apple', 'Fish', 'Fish', 'cat', 'cat']

In [21]:
# Loop in List
a = ["Apple" , "Cat" , "Fish"]
for i in a:
    print(i)

Apple
Cat
Fish

In [24]:
i = 0
a = ["Apple" , "Cat" , "Fish"]

while i < len(a):
    print(a[i])
    i = i + 1

Apple
Cat
Fish

In [25]:
# Insert Values
# append() insert() extend()

# Delete Values
# del remove() pop()

In [27]:
a = []
a.append("Apple")
a.append("Ball")
a.append("Dog")
print(a)

['Apple', 'Ball', 'Dog']

In [29]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
    
print(l)

Enter n = 3
Enter x = Apple
Enter x = Cat
Enter x = Elephant
['Apple', 'Cat', 'Elephant']

In [30]:
# insert()
a = ["Apple" , "Apple" , "Fish" , "Fish" , "cat" , "cat"]
a.insert(1 , "Hamburger")
a

['Apple', 'Hamburger', 'Apple', 'Fish', 'Fish', 'cat', 'cat']

In [32]:
# extend()
a = [1,2,3]
b = [4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [33]:
# Delete Values
# del remove() pop()
a = ["Apple" , "Apple" , "Fish" , "Fish" , "Cat" , "Cat"]
del a[0]
print(a)

['Apple', 'Fish', 'Fish', 'Cat', 'Cat']

In [35]:
a = ["Apple" , "Apple" , "Fish" , "Fish" , "Cat" , "Cat"]
del a[0:3]
a

['Fish', 'Cat', 'Cat']

In [37]:
a = [0,1,2,3,4,5,6,7,8,9]
a.remove(0)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
a = ["Apple" , "Ball" , "Cat" , "Fish"]
a.remove("Apple")
a

['Ball', 'Cat', 'Fish']

In [40]:
a = ["Apple" , "Ball" , "Cat" , "Fish" , "Apple"]
a.remove("Apple")
print(a)
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Fish', 'Apple']
['Ball', 'Cat', 'Fish']

In [41]:
a = ["Apple" , "Ball" , "Cat" , "Fish" , "Apple"]
c = a.count("Apple")
for i in range(c):
    a.remove("Apple")
print(a)

['Ball', 'Cat', 'Fish']

In [42]:
# pop()
a = ["Apple" , "Ball" , "Cat" , "Fish" , "Apple"]
a.pop(0)
print(a)

['Ball', 'Cat', 'Fish', 'Apple']

In [1]:
# List inside list (nested) list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
a[0]

[1, 2, 3]

In [5]:
a[0][0]

1

In [9]:
a = [["Ram" , 34, "Kathmandu"],
     ["Shyam"  , 23 , "Bhaktapur"],
     ["Hari" , 67 , "Lalitpur"]]
print(a[0])
print(a[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [11]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = [name,age,add]
    l.append(info)

print(l)

Enter n = 2
Enter name = Zenith
Enter age = 21
Enter address = Kathmandu
Enter name = Maharjan
Enter age = 22
Enter address = Dalachhi
[['Zenith', 21, 'Kathmandu'], ['Maharjan', 22, 'Dalachhi']]

In [15]:
l = [["Ram" , 34, "Kathmandu"],
     ["Shyam"  , 23 , "Bhaktapur"],
     ["Hari" , 67 , "Lalitpur"]]
l.append(["Nabin",20,"Jhapa"])
l

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 23, 'Bhaktapur'],
 ['Hari', 67, 'Lalitpur'],
 ['Nabin', 20, 'Jhapa']]

In [17]:
# Update Value
l[0] = ['Rama', 34, 'Chitwan']
l

[['Rama', 34, 'Chitwan'],
 ['Shyam', 23, 'Bhaktapur'],
 ['Hari', 67, 'Lalitpur'],
 ['Nabin', 20, 'Jhapa']]

In [18]:
l[0][0] = "Ram Prasad"
l

[['Ram Prasad', 34, 'Chitwan'],
 ['Shyam', 23, 'Bhaktapur'],
 ['Hari', 67, 'Lalitpur'],
 ['Nabin', 20, 'Jhapa']]

In [19]:
del l[0]
l

[['Shyam', 23, 'Bhaktapur'], ['Hari', 67, 'Lalitpur'], ['Nabin', 20, 'Jhapa']]

In [40]:
data = [["Ram" , 34, "Chitwan"],
        ["Shyam" , 78 , "Bhaktapur"],
        ["Hari", 34, "Lalitpur"],
        ["Nabin" , 20 , "Jhapa"]]
name = input("Enter name = ")

for i in data:
    if i[0].lower() == name.lower():
        print(i)
        print("It is available")
        break
else:
    print(f"The name '{name}' is not available")

Enter name = ram
['Ram', 34, 'Chitwan']
It is available

In [49]:
data = [["Ram" , 34, "Chitwan"],
        ["Shyam" , 78 , "Bhaktapur"],
        ["Hari", 34, "Lalitpur"],
        ["Nabin" , 20 , "Jhapa"],
        ["Ram" , 21 , "Kathmandu"]]
name = input("Enter name = ")
c = 0

for i in data:
    if i[0].lower() == name.lower():
        print(i)
        c = c + 1

if c == 0:
    print("No names are found")
else:
    print(c, "- Rows found")

Enter name = ram
['Ram', 34, 'Chitwan']
['Ram', 21, 'Kathmandu']
2 - Rows found

In [46]:
a = ["Ram" , "Shyam" , "Hari" , "Ram"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No such name is found")

Yes
2

In [48]:
data = [["Ram" , 34, "Chitwan"],
        ["Shyam" , 78 , "Bhaktapur"],
        ["Hari", 34, "Lalitpur"],
        ["Nabin" , 20 , "Jhapa"]]
name = input("Enter name = ")
c = 0

for i in data:
    if name in i:
        print(i)
        c = c + 1

if c == 0:
    print("No names are found")
else:
    print(c, "- Rows found")

Enter name = Ram
['Ram', 34, 'Chitwan']
1 - Rows found

In [ ]:
# WAP to create matrix taking no of rows, columns and data as input

# WAP to convert string into list inside list eg
# split()
# Apple 300 1 300
# Banana 200 2 400
#         to
#     [['Apple' , 300 , 1 , 300],
#      ['Banana' , 200 , 2 , 400]]

#WAP to create result management system in list inside list and perform CRUD

In [1]:
data = list()
r = int(input("Enter r = "))
c = int(input("Enter c = "))

for i in range(r):
    mat = []
    for j in range(c):
        x = int(input("Enter value = "))
        mat.append(x)
    data.append(mat)
        
print(data)

Enter r = 2
Enter c = 2
Enter value = 12
Enter value = 23
Enter value = 34
Enter value = 45
[[12, 23], [34, 45]]