In [1]:
# Dictionary
# - Indexing
# - Multiple and Duplicate data
# - Ordered
# - Mutable

In [2]:
# d = {<key>:<value> , <key>:<value>}

In [3]:
d = {'a':'Apple' , 'b':"Ball", 'c':"Cat"}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(d['a'])
print(d['b'])

Apple
Ball

In [7]:
d = {'a':'Apple' , 'b':'Ball' ,'c': 'Cat' , 'c':'Dog'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Dog'}

In [8]:
# Create a dict
d = {}
type(d)

dict

In [9]:
# Create a dict
d = dict()
type(d)

dict

In [11]:
# Add Values
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
# Update Values
d = {'a':'Apple' , 'b':'Ball', 'c':'Cat'}
d['a'] = "Ant"
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [13]:
d = {'a':'Apple' , 'b':'Ball', 'c':'Cat'}
for i in d:
    print(i)

a
b
c

In [14]:
d = {'a':'Apple' , 'b':'Ball', 'c':'Cat'}
for i in d.values():
    print(i)

Apple
Ball
Cat

In [15]:
d = {'a':'Apple' , 'b':'Ball', 'c':'Cat'}
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [16]:
# Convert List into dict
d = [['a','Ant'],['b','Ball'],['c','Cat']]
dict(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [18]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data[name] = phone

print(data)

Enter n = 2
Enter name = Zenith
Enter phone = 9803060561
Enter name = Maharjan
Enter phone = 9864241767
{'Zenith': '9803060561', 'Maharjan': '9864241767'}

In [20]:
# # No List as key in dict
# data = {['ram']: '9803051213' , ['Shyam'] : '9812312312'}
# data

In [21]:
# List inside Dictionary
data = {'Ram': [9841246714,9841278953] , 'Shyam':[123456789,678955592]}
data

{'Ram': [9841246714, 9841278953], 'Shyam': [123456789, 678955592]}

In [23]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone no = ")
    ncell_phone = input("Enter ncell phone no = ")
    data[name] = [ntc_phone,ncell_phone]

print(data)

Enter n = 2
Enter name = Zenith
Enter ntc phone no = 9841278953
Enter ncell phone no = 9803060561
Enter name = Maharjan
Enter ntc phone no = 9841188352
Enter ncell phone no = 9864241767
{'Zenith': ['9841278953', '9803060561'], 'Maharjan': ['9841188352', '9864241767']}

In [25]:
print("Ntc no of Zenith" , data['Zenith'][0])

Ntc no of Zenith 9841278953

In [26]:
data = {
    'name' : ['Ram','Shyam','Hari'],
    'age' : [78,67,89],
    'add' : ['Kathmandu','Bhaktapur','Lalitpur']
}

In [27]:
data = {
    'name' : [],
    'age' : [],
    'add' : []
}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
    
print(data)

Enter n = 2
Enter name = Zenith
Enter age = 21
Enter address = Kathmandu
Enter name = Maharjan
Enter age = 23
Enter address = Teku
{'name': ['Zenith', 'Maharjan'], 'age': [21, 23], 'add': ['Kathmandu', 'Teku']}

In [30]:
# Details of Zenith
print("Name = ", data['name'][0])
print("Age = ", data['age'][0])
print("Address = ",data["add"][0])

Name =  Zenith
Age =  21
Address =  Kathmandu

In [31]:
#WAP to edit and delete above program

In [33]:
# Dict inside Dict
data = {
    'Physics' : {'pract' : 25, 'theo' : 60},
    'Chemistry' : {'pract' : 25 , 'theo' : 55},
    'Math' : {'pract' : 25 , 'theo' : 67}
}

In [35]:
# pract marks of physics
print(data['Physics']['pract'])

25

In [2]:
# WAP to create Dict inside Dict with CRUD
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data[i] = {'name' : name, 'age' : age, 'add' : add}
    
print(data)

Enter n = 2
Enter name = Zenith
Enter age = 21
Enter add = KTM
Enter name = Maharjan
Enter age = 23
Enter add = Teku
{1: {'name': 'Zenith', 'age': 21, 'add': 'KTM'}, 2: {'name': 'Maharjan', 'age': 23, 'add': 'Teku'}}