In [1]:
# Tuple
# - Indexing
# - Ordered
# - Multiple and Duplicate Data
# - Imutable

In [3]:
a = (1,2,3,4,5,6,7,8,9)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [10]:
a = ("Apple" , "Ball" , "Cat" , "Fish" , "Goat")
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
('Apple', 'Ball', 'Cat', 'Fish', 'Goat')
('Apple', 'Cat', 'Goat')

In [11]:
gender = ("Male" , "Female" , "Other")

In [16]:
a = (1)
b = (1,)
# b = tuple()
print(type(a))
print(type(b))

<class 'int'>
<class 'tuple'>

In [17]:
# No append() insert() extend()
# No update
# No sort
# No del remove() pop()

In [20]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
    
print(t)

Enter n = 10
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9
Enter x = 10
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
a = (234 , 43 , 123 , 12 , 22 , 453 , 12 , 1234 , 55)
print(min(a))
print(max(a))
print(sum(a))

12
1234
2188

In [24]:
a = (234 , 43 , 123 , 12 , 22 , 453 , 12 , 1234 , 55)
b = list(a)
b

[234, 43, 123, 12, 22, 453, 12, 1234, 55]

In [26]:
a = (234 , 43 , 123 , 12 , 22 , 453 , 12 , 1234 , 55)
b = list(a)
del b[0]
a = tuple(b)
print(a)

(43, 123, 12, 22, 453, 12, 1234, 55)

In [27]:
# Tuple inside List
l = [(1,2,3),
     (4,5,6,7),
     (8,9,10)]
print(l)

[(1, 2, 3), (4, 5, 6, 7), (8, 9, 10)]

In [28]:
# List inside Tuple
t = ([1,2,3],
     [4,5,6],
     [7,8,9])
print(t)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [30]:
# Tuple inside Tuple
t = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [31]:
data = []
l = list(t)
for i in l:
    data.append(list(i))
    
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
# WAP to convert list inside List to tuple inside tuple    
data = [["Ram" , 34, "Chitwan"],
        ["Shyam" , 78 , "Bhaktapur"],
        ["Hari", 34, "Lalitpur"],
        ["Nabin" , 20 , "Jhapa"]]
t = ()
for i in data:
    t = t + (tuple(i),)
    
print(t)

(('Ram', 34, 'Chitwan'), ('Shyam', 78, 'Bhaktapur'), ('Hari', 34, 'Lalitpur'), ('Nabin', 20, 'Jhapa'))