In [1]:
# Set
# - No Indexing
# - Multiple but no duplicate values
# - Unordered
# - Mutable

In [ ]:
# No mutable datatype inside set
# Inside set no list dict set

In [3]:
s = {1,2,3,4,5,6,7}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}

In [4]:
a = set()
a

set()

In [1]:
a = {"Apple" , "Ball" , "Cat" , "Dog" , "Fish" , "Goat"}
print(a)
a

{'Ball', 'Dog', 'Fish', 'Cat', 'Goat', 'Apple'}

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat'}

In [1]:
a = {"Apple" , "Ball" , "Cat" , "Dog" , "Fish" , "Goat"}
for i in a:
    print(i)

Dog
Ball
Fish
Goat
Cat
Apple

In [3]:
a = {"Apple" , "Ball" , "Cat" , "Dog" , "Fish" , "Goat" , "Apple" , "Ball"}
a

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat'}

In [4]:
# Set 
# add()
# remove()
# update()

In [7]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Cat', 'Ball', 'Apple'}

In [17]:
a = {"Apple" , "Ball" , "Cat"}
b = {1,2,3,4,5,6,7}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 'Apple', 'Ball', 'Cat'}

In [16]:
# intersection()
# union()
# difference()

In [2]:
skills = {'Python' , 'HTML' , 'Django' , 'CSS' , 'Js'}
job = {'Python' , 'Django' , 'HTML' , 'CSS' , 'Java' , 'C' , 'C++'}

skills.intersection(job)       # Common Value

{'CSS', 'Django', 'HTML', 'Python'}

In [17]:
skills.union(job)

{'C', 'C++', 'CSS', 'Django', 'HTML', 'Java', 'Js', 'Python'}

In [13]:
# Skills in you but not in Job
skills.difference(job)

{'Js'}

In [3]:
# Skills in Job but not in You
job.difference(skills)

{'C', 'C++', 'Java'}

In [3]:
# WAP to create set taking values from users
s = set()
n = int(input("Enter n = "))

for i in range(n):
    s.add(int(input("Enter value = ")))
    
print(s)

Enter n = 5
Enter value = 1
Enter value = 2
Enter value = 3
Enter value = 4
Enter value = 5
{1, 2, 3, 4, 5}