In [ ]:
a = 10
print(a)

10

In [22]:
a = 10
b = 10.5
c = "Hello World"
d = True
e = 2 +2j

print(a)
print(b)
print(c)
print(d)
print(e)
print(a,b,c,d)

10
10.5
Hello World
True
(2+2j)
10 10.5 Hello World True

In [ ]:
a = 10             #int
b = 10.5           #float
c = "Hello World"  #str
d = True           #bool

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(a),type(b), type(c),type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
hello_world  = "Hello World"

In [ ]:
# operators

# + - * / ** // %

In [ ]:
a = 10
b = 3
c = a+b
print(c)

c = a-b
print(c)

c = a*b
print(c)

c = a/b
print(c)

c = a**b
print(c)

c = a//b
print(c)

c = a % b
print(c)

13
7
30
3.3333333333333335
1000
3
1

In [ ]:
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [ ]:
a = "Hello World"
print(a*2)

Hello WorldHello World

In [ ]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
a = "10"
b = "20"
print(a+b)

1020

In [1]:
a = True
b = False
c = a + b
print(c)

1

In [2]:
a = True
b = False
c = a * b
print(c)

0

In [3]:
# user defined
a = input()

10

In [5]:
a = input("Enter a = ")
print(a)

Enter a = 10
10

In [6]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 10
Enter b = 20
1020

In [7]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 10
Enter b = 20
30

In [8]:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = a+b
print(c)

Enter a = 10.5
Enter b = 11.3
21.8

In [1]:
p = int(input("Enter p = "))
t = float(input('Enter t = '))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of i = ",i)

Enter p = 1000
Enter t = 2
Enter r = 3
The value of i =  60.0

In [2]:
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

total = physics + chemistry + math + english + nepali

per = total/500*100

print("The Total marks = ",total)
print("The Per = ",per)

Enter physics = 89
Enter chemistry = 90
Enter math = 87
Enter english = 85
Enter nepali = 78
The Total marks =  429
The Per =  85.8

In [3]:
#into to str conversion str() int() float() bool()
a = 10
b = str(a)
b

'10'

In [4]:
a = "10"
b = int(a)
b

10

In [9]:
a  = "10"
b = float(a)
b

10.0

In [10]:
a = 0
b = bool(a)
b

False

In [13]:
a = -10
b = bool(a)
b

True

In [17]:
a = ""
b = bool(a)
b

False

In [21]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Hello World I am Ram I am from Kathmandu I am 78